.qnt-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    border-radius: 5px;
}
.qnt-div button{
    font-weight: bold;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.qnt-div span{
    font-weight: bold;
    font-size: 20px;
    margin: 0px 10px;
    color: #fff;
} 
@media(max-width: 800px){
    .qnt-div{
        margin: 10px 5px 0px 5px;
        padding: 3px 0px;
    }
    .qnt-div button{
        font-size: 15px;
    }
    .qnt-div span{
        font-size: 15px;
      
    }
   
}